/* You can add global styles to this file, and also import other style files */
html{
    --text : #001609;
    --background :#f9fffb;
    --primary : #08fa61;
    --secondary : #74e3fc;
    --accent : #4798fb;

    color: var(--text);
}

body{
    margin: 0;
}